In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("student_placement_data.csv")

In [7]:
df.shape

(500, 4)

In [9]:
df.sample(10)

     CGPA   IQ  Profile_Score  Placement
93   7.81   96          59.83          1
131  6.11   91          79.53          1
3    7.99  112          32.40          1
247  9.83   85          57.13          1
10   5.10  148          64.29          1
448  6.88   92          17.42          1
467  9.34  130          35.92          1
286  7.33   90          43.22          1
344  6.99  126          54.32          1
34   9.83  148          69.88          1

In [17]:
X = df.drop(columns=['Placement'])
y = df['Placement']

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.68

In [52]:
import pickle
pickle.dump(rf,open('model1.pk','wb'))